.two {
    margin-left: auto;
    color: black;
    font-size: 30px;
    font-family: fantasy;
}

.this {
    width: 201px;
}

.this2 {
    width: 201px;
}

body {
    background-image: url(https://www.ecestaticos.com/imagestatic/clipping/59f/6f4/59f6f484d693a13f600597d6080cd359/cuanto-sabes-de-las-matematicas-y-de-su-historia-demuestralo.jpg?mtime=1579565836);
     background-attachment: fixed;
     background-repeat: no-repeat; 
     background-size: 100% 100%;
    
     } 
h2 {
    color: black;
    font-size: 40px;
    font-family: fantasy;
}
